# Node modules
node_modules

# Compiled output
out
dist

# code coverage
coverage

# Extension packaging output
*.vsix

# testing
.vscode-test/

# directives.graphql
directives.graphql

vsc-extension-quickstart.md
