.vscode/**
.vscode-test/**
out/**
coverage/**
node_modules/**
src/**
src/test/**
src/test/fixtures/**
**/test/**
**/fixtures/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
